.left-heading{
  font-weight: 700;
  float: left;
  width: 50%;
  display: inline-block;
}
.right-heading{
  float: right;
  display:  inline-block;
  background:  transparent;
  border:  none;
  font-weight: 100;
}
.right-heading:focus{
  float: right;
  display:  inline-block;
  background:  transparent;
  border:  none;
  font-weight: 100;
}
.tagGroup{
    padding: 10px;
    background: white;
}
.availibility{
  display: block;
  float: left;
}
.menu-text{
  margin-bottom: 40px;
}
.ant-row{
  margin-bottom: 40px !important;
}
.apply-button{
  float: right;
  font-size: 10px;
  font-weight: 100;
}