.ant-card-bordered{
  border: none;
  border-bottom: 1px solid #7C91AA;
}
.ant-row{
  margin-bottom: 0 !important;
}
h3{
    display: block;
    float: left;
    margin-right: 5px;
}
.availability-tag{
    display:  block;
    float: left;
    background:  #00DD92;
    color:  white;
    border-radius: 40px;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: 100;

}
.payment{
    display: block;
    float: right;
    font-size: 15px;
    font-weight: 700;
}

.companyName{
  color: #43A3FF;
  margin-right: 10px !important;
}

.location{
  color: #7C91AA;
}
.reply-rate{
  font-weight: 700;
}
.reply-rate-key{
  color: #7C91AA !important;
  font-weight: 100;
}
.jobDescRow{
  margin: 20px 0 !important;
}
.job-tag{
  display:  inline-block;
    float: left;
    border: 1px #7C91AA solid;
    border-radius: 40px;
    padding: 3px 10px;
    margin-right: 5px;
    font-size: 11px;
    font-weight: 100;
}